<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
      <img width="75" height="75" src="../assets/Inyx-logo.png" sizes="(max-width: 3102px) 100vw, 3102px"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">

            <a class="nav-link text-dark" [routerLink]="['help']">Help & About</a> &nbsp;

          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">

            <a class="nav-link text-dark" [routerLink]="['/']">Solver</a>

          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">

            <a class="nav-link text-dark" [routerLink]="['efficiency']">Performance Analysis</a> &nbsp;
        </ul>
      </div>
    </div>
  </nav>
</header>
